@import '../styles/variables.styl'

.nextButton
  flex none
  background-color $secondary
  color $white
  height $space-20
  display flex
  justify-content center
  align-items center
  margin-top auto
  font-size $4xl