@import '../styles/variables.styl'

.nextButton
  background-color $secondary
  color $white
  height $space-20
  display flex
  justify-content center
  align-items center
  font-size $4xl
  margin-top auto

  > *
    height 100%
    display flex
    align-items center
    justify-content center
    flex 1