@import '../styles/variables.styl'

.topRow
  display flex
  align-items center
  justify-content space-between
  padding $space-8

  .h1
    text-transform capitalize
    margin 0

  .numberBanner
    font-size $5xl
    text-align center
    // background-color $primary-500
    color $primary-500
    font-weight bold