@import '../styles/variables.styl'

.medItem
  padding $space-6
  background-color $primary
  color $white
  display flex
  align-items center
  justify-content center

  .counter
    margin-left auto

    .deviation
      font-weight bold
      font-size $3xl

      &:first-of-type
        margin-right $space-3

      &:last-of-type
        margin-left $space-3
