@import '../styles/variables.styl'

.medItem
  padding $space-6
  background-color $primary
  color $white
  display flex
  align-items center
  justify-content center

  .counter
    margin-left auto

    .deviation
      font-weight bold
      font-size $3xl
      padding $space-1
