@import '../styles/variables.styl'

.mid
  flex 1
  display flex
  align-items center
  justify-content center
  flex-direction column
  margin $space-8

  .message
    font-size $3xl
    margin-top $space-8

  .data
    display grid
    grid-template-columns repeat(2, 1fr)
    font-size $3xl

    .value
      justify-self end
