@import './variables.styl'

html, body
  margin 0
  background-color $neutral-700
  font-size $base
  color $secondary
  font-family 'Open Sans', 'Clear Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

*
  box-sizing border-box
  margin 0
  padding 0

a
  text-decoration none

  &:visited
    color $white

// * + *
// margin-top 1.5em
// margin-bottom 0
h1
  font-size $5xl

h2
  font-size $4xl

h3
  font-size $3xl

h4
  font-size $2xl

h5
  font-size $xl
