// Colours
$neutral-100 = #F7F9FC
$neutral-200 = #E1E1EA
$neutral-300 = #596170
$neutral-500 = #4A5568
$neutral-700 = #323233
$neutral-800 = #15181E
$neutral-900 = #08101E
$primary-100 = #EFA5CA
$primary-200 = #F34DA0
$primary-250 = #F24099
$primary-300 = #CC0C6C
$primary-400 = #840142
$primary-500 = #7A4F64
// Typography
$6xl = 4rem
$5xl = 3rem
$4xl = 2.25rem
$3xl = 1.5rem
$2xl = 1.25rem
$xl = 1.125rem
$base = 16px
$sm = 0.875rem
$xs = 0.75rem
// Spacing
$space-1 = 0.25rem
$space-2 = 0.5rem
$space-3 = 0.75rem
$space-4 = 1rem
$space-5 = 1.25rem
$space-6 = 1.5rem
$space-8 = 2rem
$space-10 = 2.5rem
$space-12 = 3rem
$space-16 = 4rem
$space-20 = 5rem
$space-24 = 6rem
$space-32 = 8rem
$space-40 = 10rem
$space-48 = 12rem
$space-56 = 14rem
$space-64 = 16rem
// Aliases
$white = $neutral-100
$primary = $primary-250
$secondary = $neutral-500